:root{
    margin: 0;
    padding: 0;
  
    /*CORES*/
    --rosa-escuro: #DEB4C8;
    --marrom: #8F7262;
    --cor-hover: #272727;
    
  }
  
  body{
    margin: 0;
    padding: 0;
  }

  /* Produtos */
  .titulo {
    text-align: center;
    color: var(--marrom);
  }
  .produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px 0;
  }

  .produtos section {
    display: flex;
    padding: 5px 10px 0 10px;
    /* border: 2px solid var(--rosa-escuro); */
    border-radius: 20px;
    align-items: center;
    gap: 0 100px;
  }
  /* .produtos section:nth-child(n + 2) span:nth-child(2) {
    display: block;
  } */

  .show-button {
    background-color: var(--rosa-escuro);
    border: 2px var(--cor-hover);
    color: #000;
    padding: 15px;
    border-radius: 15px;
    display: none;
  }

  .show-button:hover {
    cursor: pointer;
  }

  /* .show-button:{

  } */

  @media (max-width: 944px) {
    #descricao1 {
      display:none;
    }
    .show-button {
      display: inline-block;
    }
  }