:root{
    margin: 0;
    padding: 0;
  
    /*CORES*/
    --rosa-escuro: #DEB4C8;
    --marrom: #8F7262;
    --cor-hover: #272727;
    
  }
  
  body{
    margin: 0;
    padding: 0;
  }

  /* Produtos */
  .titulo {
    text-align: center;
    font-size: 20pt;
    color: var(--marrom);
  }
  .produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px 0;
  }

  .produtos section {
    display: flex;
    border: 1px solid var(--rosa-escuro);
    border-radius: 20px;
    padding: 10px 0 0 20px;
    align-items: center;
  }

  .produtos section div {
    display: flex;
  }